.parrafoSection {
    width: 100%;
    display: flex;
    height: calc(100vh - 75px);
}

.parrafoSection * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.parrafoSection h2 {
    color: orangered;
    font-size: 3vw;
}

.parrafoSection p {
    text-align: justify;
    font-size: 1.4vw;
    font-weight: lighter;
}

.lectura {
    padding: 5%;
    overflow: hidden;
}

.imagen {
    width: 40%;
}