.quoteSection {
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    background-color: rgba(198, 198, 198, 0.277);
}

.theQuote {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.theImage {
    width: 50%;
}

.quoteMain {
    width: 100%;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: 0.2vw 0.2vw 0.3vw rgba(0, 0, 0, 0.179);
}

.innerQuote {
    color: orangered;
}

.atte {
    padding: 5%;
    font-size: 1.5vw;
    font-weight: normal;
    text-shadow: none;
}