.mainPage {
    background-image: url('../images/spaceBack.svg');
    background-size: 120%;
    background-position-y: 20%;
    background-position-x: center;
    background-repeat: repeat-y;
    width: 100%;
}