:root {

    --spaceBlue: #07173F;
    --spaceLightgray: #dddbdd;
    --spaceOrangered: orangered;
    --colorGray: #f0f0f0;
    --radius: 3px;
    --radiusP: 8px;
    --colorBack: #E1F2FF;
    --blueHigh: #004173;
    --fourt: #1499ff;
    --white: white;
    --shade: 5px 5px 5px rgba(0, 0, 0, 0.164);
    --shadeSecondary: 8px 1px 20px 5px rgba(255, 255, 255, 0.164);
    --shadeTop: 0px 0px 10px rgba(0, 0, 0, 0.164);
    --radiusButon: 7px;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}